appdirs==1.4.3
beautifulsoup4==4.6.0
cached-property==1.4.0
certifi==2018.1.18
chardet==3.0.4
cleverbot==2.0.0
configparser==3.5.0
cycler==0.10.0
future==0.16.0
geopy==1.11.0
Ghost.py==0.2.3
idna==2.6
matplotlib==2.1.2
munch==2.2.0
numpy==1.14.1
olefile==0.45.1
opencv-python==3.4.0.12
pandas==0.22.0
Pillow==8.3.2
pynder==0.0.13
pyparsing==2.2.0
PyQt5==5.10.1
python-dateutil==2.6.1
pytz==2018.3
requests==2.20.0
sip==4.19.8
six==1.11.0
urllib3==1.24.2
xlrd==1.1.0
